@tailwind base;
@tailwind components;
@tailwind utilities;
/*PRIMARY COLORS*/
@layer base {
  :root {
    --font-inter: "Inter", sans-serif;
    --background-color: #ffff;
    --text-color: #000;
    --text-color-secondary: #898a8a;
    --background-btn: #1486d8;
    --text-color-btn: #ffff;
    --text-btn-hover: #3b3b3b;
    --radio-btn-checked: ##898a8a;
    --radio-btn-unchecked: #1486d8;
  }

  body {
    font-family: var(--font-inter);
  }

  .custom-radio-button {
    border-radius: 50%;
    border: 2px solid #3b3b3b;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .inner-container {
    border-radius: 50%;
    background-color: #808080;
    position: absolute;
  }

  .custom-radio-button:hover {
    border-color: #606060;
  }
}
